name: Build Armbian
on:
  workflow_dispatch:
    inputs:
      board:
        description: '(rakean-amlogic-s905x)'
        required: true
        default: 'amlogic-s905x'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:12
      options: --privileged
    
    steps:
      - name: Update & Install Base Tools
        run: |
          apt-get update
          # Tambahin kmod, wget, dan bc (penting buat proses kernel & firmware)
          apt-get install -y git sudo debootstrap curl ca-certificates python3 python3-distutils lsb-release build-essential kmod wget bc

      - name: Build Armbian
        run: |
          ./compile.sh BOARD=${{ github.event.inputs.board }} \
                       BRANCH=current \
                       RELEASE=bookworm \
                       BUILD_MINIMAL=no \
                       INSTALL_FIRMWARE=yes \
                       KERNEL_CONFIGURE=no
          
      - name: Upload Image
        uses: actions/upload-artifact@v4
        with:
          name: Rakean-AMLOGIC-Bookworm
          path: output/images/*.img*
